---
import Layout from '../layouts/Layout.astro';
import About from '../components/home/About.astro';
---

<Layout>
    <About />
	<h1>Nefiya</h1>
    <img src="/media/nefiya.png" alt="Art of Nefiya" style="height: 25em;" />
    <p>©2025 Vadim "Reviilight" Agababian</p>
</Layout>
