---
import Layout from '../layouts/Layout.astro';
import About from '../components/home/About.astro';
import Characters from '../components/home/Characters.astro';
---

<Layout>
    <About />
	<Characters />
    <p>©2025 Vadim "Reviilight" Agababian</p>
</Layout>
