---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<h1>Nefiya</h1>
    <img src="/media/nefiya.png" alt="Art of Nefiya" style="height: 25em;" />
    <p>©2025 Vadim "Reviilight" Agababian</p>
</Layout>
