---
import { Image } from "astro:assets";
import BskyIcon from "@/assets/icons/bluesky.svg";
import GitHubIcon from "@/assets/icons/GitHub_Black.svg";
import YouTubeIcon from "@/assets/icons/youtube.png";
import TelegramIcon from "@/assets/icons/telegram.svg";
import TikTokIcon from "@/assets/icons/TikTok.png";
import EmailIcon from "@/assets/icons/email.svg";
const nickname = "Reviilight";
---

<section class="center-section about-section">
    <div class="about-section__element about-section__profile">
        <img
            class="profile-picture"
            src="https://avatars.githubusercontent.com/u/55348885"
            alt="A profile picture"
        />
        <h1>{nickname}</h1>
        <b>Vadim Agababian</b>
    </div>
    <div class="about-section__element about-section__about">
        <h2>About</h2>
        <p>I'm a developer. Working on my indie game.</p>
    </div>
    <div class="about-section__element about-section__contacts">
        <h2>Contacts</h2>
        <div class="contacts-grid">
            <a
                class="contact"
                href="https://bsky.app/profile/reviilight.bsky.social"
            >
                <BskyIcon class="contact__icon" />
                <span class="contact__text">Bluesky</span>
            </a>
            <a class="contact" href="https://github.com/Reviilight">
                <GitHubIcon class="contact__icon" />
                <span class="contact__text">GitHub</span>
            </a>
            <a
                style="grid-column: 1;"
                class="contact"
                href="https://www.youtube.com/@Reviilight"
            >
                <Image
                    src={YouTubeIcon}
                    alt="The YouTube icon"
                    class="contact__icon"
                />
                <span class="contact__text">YouTube</span>
            </a>
            <a
                style="grid-column: 2;"
                class="contact"
                href="https://t.me/vadim_agababyan"
            > <!-- FIXME: Fix my Telegram handle -->
                <TelegramIcon class="contact__icon" />
                <span class="contact__text">Telegram</span>
            </a>
            <a
                style="grid-row: 3;"
                class="contact"
                href="https://www.tiktok.com/@reviilight"
            >
                <Image
                    src={TikTokIcon}
                    alt="The TikTok icon"
                    class="contact__icon"
                />
                <span class="contact__text">TikTok</span>
            </a>
            <a
                style="grid-row: 3;"
                class="contact"
                href="mailto:edwardfilm3@gmail.com"
            >
                <span class="contact__icon">✉</span>
                <span class="contact__text">email</span>
            </a>
        </div>
    </div>
</section>

<style>
    .about-section {
        display: flex;
        flex-direction: column;
    }

    .about-section__element {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .about-section__profile {
    }

    .about-section__about {
        border: 1px solid rgba(255, 255, 255, 0.95);
        border-left: none;
        border-right: none;
    }

    .about-section__contacts {
    }

    .contacts-grid {
        margin-bottom: 15px;
        display: grid;
        grid-auto-flow: row;
        gap: 8px;
    }

    .contact {
        width: 60px; /* FIXME: remove as it is temporal for the grid */
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px;
        border-radius: 25%;
        /* border: 1px solid white; */
        box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
        transition:
            box-shadow 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95),
            filter 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55),
            transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        background: rgb(234, 242, 245);
        /* backdrop-filter: blur(20px); */
        position: relative;
    }

    .contact::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        border-radius: inherit;
        transition: box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        box-shadow:
            inset 0px 10px 0px 0px rgba(255, 255, 255, 0.6),
            inset 0px -2px 5px 2px rgb(255, 255, 255),
            inset 0px -8px 10px 0px rgba(0, 195, 255, 0.3);
    }

    .contact:hover::after {
        box-shadow:
            inset 0px 35px 0px -10px rgba(255, 255, 255, 0.6),
            inset 0px 0px 5px 2px rgb(255, 255, 255),
            inset 0px -8px 10px 0px rgba(0, 195, 255, 0.3);
    }

    .contact:hover {
        transform: scale(1.1);
        /* filter: brightness(1.1); */
    }

    .contact:hover .contact__icon {
        transform: scale(1.1);
    }

    .contact:hover .contact__text {
        transform: scale(1.1);
    }

    .contact__text {
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    .contact__icon {
        width: 32px;
        height: auto;
        display: block;
        margin: 0px 8px 8px 8px;
        transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        font-size: 24px;
        text-align: center;
    }

    .profile-picture {
        border-radius: 100%;
        border: 1px solid rgba(255, 255, 255, 0.95);
        height: 128px;
        box-shadow: 0px 10px 34px -14px rgba(0, 0, 0, 0.36);
    }

    @media (min-width: 768px) {
        .about-section {
            flex-direction: row;
            align-items: normal;
        }

        .about-section__about {
            order: -1;
        }

        .about-section__profile {
            border: 1px solid rgba(255, 255, 255, 0.95);
            border-top: none;
            border-bottom: none;
        }

        .about-section__about {
            border: none;
        }
    }
</style>
