<center style="background-color: lightcyan;">
    <h2>My characters</h2>
    <h3>Nefiya</h3>
    <img src="/media/nefiya.png" alt="Art of Nefiya" style="width: 20em;" />
    <p>©2025 Vadim "Reviilight" Agababian</p>
</center>
