---
import { Image } from "astro:assets";
import Background from "@/assets/backgrounds/nefiya_intro_wp.png";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Reviilight</title>
	</head>
	<body>
		<Image
			src={Background}
			alt="A background of a page with a wallpaper featuring waving Nefiya"
			class="bg-image"
			loading="eager"
		/>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: sans-serif;
	}

	.bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}
</style>
